.boxs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 65px;
    text-align: center;
}


@media (max-width: 670px) {
    .boxs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .box span {
        margin-left: 25px;
        margin-bottom: 10px;
    }

}