.todo {
    max-width: 600px;
    min-height: 300px;
    background: transparent;
    border: 1px solid #c4d3ff;
    border-radius: 10px;
}

.listcor {
    margin: 2%;
    display: flex;
    justify-content: center;
    color: #006bc6;
}