.cert {
    display: grid;
    justify-content: center;
}

.certificados {
    margin-top: 115px;
    margin-bottom: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

