.home {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book {
    display: flex;
    flex-direction: column;
    margin: 0 10% ;
}


.frontCoverFace {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 132px 0 0 403px;
    border: 2px solid #000;
    max-width: 251px;
    min-height: 395px;
    background-color: brown;
    transform: rotate3d(1, 1, 1, 21deg);
    box-shadow: 0 1px 3px #cccccc, 0 2px 15px #cccccc, 0 3px 20px #cccccc, 0 4px 25px #cccccc, 0 50px 30px rgb(0 0 0 / 30%);
}

.frontCoverOut {
    cursor: pointer;
    position: relative;
    transition: 0.101s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -400px 0 0 398px;
    max-width: 251px;
    min-height: 397px;
    color: #006bc6;
    font-family: 'Oleo Script Swash Caps', cursive;
    border: 2px solid #000;
    background-color: brown;
    transform: rotate3d(1, 1, 1, 21deg);
    box-shadow: 0 1px 3px 
    #cccccc, 0 2px 15px 
    #cccccc, 0 3px 20px 
    #cccccc, 0 4px 25px 
    #cccccc, 0 50px 30px 
    rgb(0 0 0 / 30%);
}

.frontCoverOutFlip {
    cursor: pointer;
    transition: 0.15s ease-in-out;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid brown;
    border-right: none;
    margin: -457px 0 0 163px;
    max-width: 251px;
    min-height: 400px;
    background-color: rgb(245, 241, 241);
    transform: rotate3d(1, 1, 1, 21deg);
    box-shadow: 0 1px 3px #cccccc, 0 2px 15px #cccccc, 0 3px 20px #cccccc, 0 4px 25px #cccccc, 0 50px 30px rgb(0 0 0 / 30%);
}

.leaf {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .190px solid #000;
    margin: -400px 0 0 399px;
    max-width: 251px;
    min-height: 398px;
    transform: rotate3d(1, 1, 1, 21deg);
    background-color: rgb(252, 246, 246);
    /*box-shadow: 0 1px 3px #cccccc, 0 2px 15px #cccccc, 0 3px 20px #cccccc, 0 4px 25px #cccccc, 0 50px 30px rgb(0 0 0 / 30%);*/
}

.leaf header {
    max-width: 400px;
}



