.home {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (max-width: 600px)  {
    .home-aria img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 300px;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    } 
}

@media only screen and (max-width: 600px)  {
    .bolhas {
        position: relative;
        display: flex;
        justify-content: end;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-left: 150px;
        margin-bottom: -15%;
    } 
}

@media only screen and (max-width: 620px)  {
    .home-primaria p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-left: 20px;
    } 
}

@media only screen and (max-width: 620px)  {
    .home-primaria h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 90px;
    } 
}