a {
    text-decoration: none;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 6px;
}

.matrix {
    position: relative;
    display: flex;
}

.matrix .efeito {
    position: relative;
    font-size: 10px;
    margin: 8.5px;
    width: 45px;
    height: 45px;
    list-style: none;
    background: #272323;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.matrix .efeito i {
    position: relative;
    text-decoration: none;
    z-index: 10;
    font-size: 2em;
    transition: 0.5s;
}

.matrix .efeito:hover i {
    font-size: 3em;
}

.matrix .efeito::before  {
    content: "";
    position: absolute;
    inset: 30px;
    width: 100%;
    height: 100%;
    background: rgb(31, 30, 30);
    opacity: 0;
    transition: 0.5s;
}

.a1 {
    color: #1877f2;
    filter: drop-shadow(0 0 20px),
    drop-shadow(0 0 40px),
    drop-shadow(0 0 60px);
    box-shadow: 0 0 0 5px #1877f2,
        0 0 0 10px #272323,
        0 0 0 12px #1877f2;
}

.a1:hover {
    z-index: 10000;
}

.a1:hover::before {
    content: '';
    position: absolute;
    inset: 0;
}

.a1::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #272323;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bi-calendar2-week-fill {
    color: #1877f2;
}

.a2 {
    color: #ff0000;
    filter: drop-shadow(0 0 20px),
    drop-shadow(0 0 40px),
    drop-shadow(0 0 60px);
    box-shadow: 0 0 0 5px #ff0000,
        0 0 0 10px #272323,
        0 0 0 12px #ff0000;
}

.a2:hover {
    z-index: 10000;
}

.a2:hover::before {
    content: '';
    position: absolute;
    inset: 0;
}

.a2::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #272323;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bi-filetype-html {
    color: #ff0000;
}

.a3 {
    color: #1da1f2;
    filter: drop-shadow(0 0 20px),
    drop-shadow(0 0 40px),
    drop-shadow(0 0 60px);
    box-shadow: 0 0 0 5px #1da1f2,
        0 0 0 10px #272323,
        0 0 0 12px #1da1f2;
}

.a3:hover {
    z-index: 10000;
}

.a3:hover::before {
    content: '';
    position: absolute;
    inset: 0;
}

.a3::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #272323;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bi-filetype-js {
    color: #1da1f2;
}

.a4 {
    color: #c32aa3;
    filter: drop-shadow(0 0 20px),
    drop-shadow(0 0 40px),
    drop-shadow(0 0 60px);
    box-shadow: 0 0 0 5px #c32aa3,
        0 0 0 10px #272323,
        0 0 0 12px #c32aa3;
}

.a4:hover {
    z-index: 10000;
}

.a4:hover::before {
    content: '';
    position: absolute;
    inset: 0;
}

.a4::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #272323;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bi-filetype-tsx {
    color: #c32aa3;
}

.a5 {
    color: #245587;
    filter: drop-shadow(0 0 20px),
    drop-shadow(0 0 40px),
    drop-shadow(0 0 60px);
    box-shadow: 0 0 0 5px #245587,
        0 0 0 10px #272323,
        0 0 0 12px #245587;
}

.a5:hover {
    z-index: 10000;
}

.a5:hover::before {
    content: '';
    position: absolute;
    inset: 0;
}

.a5::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #272323;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bi-filetype-jsx {
    color: #245587;
}

.a6 {
    color: #25d366;
    filter: drop-shadow(0 0 20px),
    drop-shadow(0 0 40px),
    drop-shadow(0 0 60px);
    box-shadow: 0 0 0 5px #25d366,
        0 0 0 10px #272323,
        0 0 0 12px #25d366;
}

.a6:hover {
    z-index: 10000;
}

.a6:hover::before {
    content: '';
    position: absolute;
    inset: 0;
}

.a6::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #272323;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bi-bootstrap {
    color: #25d366;
}