i {
    font-size: 2.55em;
    margin-left: 10px;
    color: rgb(234, 234, 237);
}

i:hover {
    cursor: pointer;
    color: rgb(107, 128, 210);
    margin-left: 10px;
    box-shadow: 0 10px 5px rgba(29, 29, 29, 0.3);
}

a {
    text-decoration: none;
}